<configuration>

    <!-- FILE -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/fiteo.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/fiteo.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ASYNC -->
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="FILE"/>
    </appender>

    <!-- ROOT -->
    <root level="INFO">
        <appender-ref ref="ASYNC_FILE"/>
    </root>

    <!-- KTOR -->
    <logger name="io.ktor" level="INFO"/>
    <logger name="io.ktor.server" level="INFO"/>

    <!-- Netty (jeśli używasz) -->
    <logger name="io.netty" level="WARN"/>

    <!-- EXPOSED (ważne!) -->
    <logger name="org.jetbrains.exposed" level="WARN"/>

    <!-- SQL (często spam) -->
    <logger name="Exposed" level="WARN"/>

</configuration>